<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@order.add.headline">Place Order</h1>
    <div>
        <a routerLink="/orders" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@order.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="shippingAddress" label="Shipping Address"></app-input-row>
    <app-input-row [group]="addForm" field="shippingCity" label="Shipping City"></app-input-row>
    <app-input-row [group]="addForm" field="shippingState" label="Shipping State"></app-input-row>
    <app-input-row [group]="addForm" field="shippingZip" label="Shipping Zip"></app-input-row>
    <app-input-row [group]="addForm" field="shippingCountry" label="Shipping Country"></app-input-row>
    <input type="submit" i18n-value="@@order.add.headline" value="Place Order" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
