<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@order.list.headline">Orders</h1>
    <div>
        <a routerLink="/orders/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@order.list.createNew">Create new Order</a>
    </div>
</div>
@if (!orders || orders.length === 0) {
<div i18n="@@order.list.empty">No Orders could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@order.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@order.totalAmount.label">Total Amount</th>
                <th scope="col" class="text-left p-2" i18n="@@order.status.label">Status</th>
                <th scope="col" class="text-left p-2" i18n="@@order.stripePaymentIntentId.label">Stripe Payment Intent Id</th>
                <th scope="col" class="text-left p-2" i18n="@@order.appUser.label">App User</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (order of orders; track order.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ order.id }}</td>
                <td class="p-2">{{ order.totalAmount }}</td>
                <td class="p-2">{{ order.status }}</td>
                <td class="p-2">{{ order.stripePaymentIntentId }}</td>
                <td class="p-2">{{ order.appUser }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/orders/edit', order.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@order.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(order.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@order.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
