<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@cart.add.headline">Add Cart</h1>
    <div>
        <a routerLink="/carts" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@cart.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="totalAmount" i18n-label="@@cart.totalAmount.label" label="Total Amount" />
    <app-input-row [group]="addForm" field="appUser" rowType="select" [options]="appUserValues" i18n-label="@@cart.appUser.label" label="App User" />
    <input type="submit" i18n-value="@@cart.add.headline" value="Add Cart" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
